NODE_ENV=development
PORT=5007
MONGO_URI=mongodb+srv://aakashpurionline:AaKashpuri66@gulmigang.2cobfbi.mongodb.net/?appName=GulmiGang
MONGODB_URI=mongodb+srv://aakashpurionline:AaKashpuri66@gulmigang.2cobfbi.mongodb.net/?appName=GulmiGang
JWT_SECRET=gulmigang-super-secret-key-change-in-production-64charsminimum
JWT_REFRESH_SECRET=gulmigang-refresh-secret-key-change-in-production
FRONTEND_URL=https://gulmigang-1.onrender.com/
UPLOAD_MAX_SIZE=10485760
